.error{
    height: 73.5vh;
    padding: 1rem 3rem;
    background: url('../images/500.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25rem;
}
h1{
    text-align: center;
}