*{
    margin: 0;
}
.navbar{
    padding: 0.5rem 1.5rem;
    background-color: #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}

.navbar img{
    width: 10rem;
}
 