@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.products-card {
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 1rem 0.75rem;
    width: 13rem;
    padding: 2rem;
    border: 0.2rem solid #ddd;
    border-radius: .5rem;
    opacity: .8;
    transition: 0.15s;
}

.products-card:hover {
    box-shadow: 0 0 20px 2px #ddd;
    cursor: pointer;
    opacity: 1;
    transition: .25s;
    transform: scale(1.01);
}




.products-card img {
    align-self: center;
    width: 50%;
    padding: 0.5rem;
    height: 10rem;
    object-fit: contain;
}

.product-name {
    margin: 2rem 0;
}

.category,
.product-name,
.price,
.rating,
.rating {
    width: 100%;
}